@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.page.home .subsection {
  position: relative;
}

.page.home .subsection *:not(.gallery) {
  transition: 1s opacity;
  opacity: 0;
}
.page.home .subsection::before {
  content: '';
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--reveal-color);
  border-radius: 5px;
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: -1;
}

.page.home .pins {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.page.home .pin {
  transition: 0.3s;
  display: flex;
  align-items: center;
  flex: 1 1;
  padding: 1%;
  background: #303030;
  border-radius: 10px;
  box-shadow: -1vw 1vw 2px rgba(0, 0, 0, 0.3);
}
.page.home .pin img {
  width: 100%;
  border-radius: 10px;
}
.page.home .pin:hover {
  transform: translate(0.2vw, -0.2vw);
  box-shadow: -1.6vw 1.6vw 2px rgba(0, 0, 0, 0.4);
}

.page.home .subsection .gallery * {
  transition: 0.4s, 1s opacity;
}

.page.home .subsection .gallery.icon {
  width: 50px;
}

.page.home .subsection.visible * {
  opacity: 1;
}
.page.home .subsection.visible::before {
  opacity: 0.4;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 5%);
}

.page.home .subsection h1 {
  margin-left: 1%;
  margin-right: 5%;
  padding-left: 1%;
  border-bottom: 1px solid var(--dark);
  font-family: 'Bebas Neue', cursive;
  font-style: italic;
}
