@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.page.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page.notfound::before {
  content: '404';
  position: absolute;
  margin-top: 20%;
  font-size: 20vw;
  font-family: 'Silkscreen', cursive;
  opacity: 0.1;
  z-index: -1;
}

.page.notfound .message {
  text-align: center;
  font-size: 5vw;
  font-family: 'Silkscreen', cursive;
}

.page.notfound .message::before {
  content: 'travel_explore';
  margin-right: 0.5em;
  font-family: 'Material Symbols Outlined';
}

.page.notfound .message::after {
  content: 'sentiment_dissatisfied';
  margin-left: 0.5em;
  font-family: 'Material Symbols Outlined';
}
