@media screen and (min-width: 900px) {
  #scroller {
    transition: width .3s;
    background: var(--offset-bg);
    border-radius: 0 25px 25px 0;
    overflow: hidden;
    white-space: nowrap;
    width: 6%;
  }
  #scroller:hover {
    width: 11%;
  }
  
  #scroller .scroll {
    background: rgba(0, 0, 0, .3);
    margin: 10% 0;
    padding-left: 2%;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  #scroller .scroll:hover {
    color: var(--green);
  }
  #scroller .scroll[active='true'] {
    animation: clicked .3s ease-in-out 0s 2 alternate forwards;
  }
}
@media screen and (max-width: 900px) {
  #scroller {
    width: 0;
    overflow: hidden;
  }
}
